<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4" *ngFor="let product of products">
        <img [src]="product.hero.href" alt="hero" class="img-responsive" (click)="viewDetails(product)">
        <p class="title">{{ product.name }}</p>
        <hr>
        <div class="sameline">
          <span class="price">Regular price: {{ product.priceRange.regular.high | currency }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
